header{
    background-image: url(../img/pattern.png);
    background-color: rgb(69, 133, 206);
    height: 150px;
}

img{
    height: 40%;
}

#titolo{
    font-size: 35px;
    font-weight: bold;
}

#autore{
color: gray;
font-size: 18px;
}

#data{
color: gray;
font-size: 12px;
}

#nome-autore{
color: rgb(19, 147, 185);
}

.didascalia{
    font-size: 12px;
}

.testo-evidenziato{
    background-color: yellow;
}

li{
    margin-left: -20px;
}

td{
    width: 30%;
}

th{
    background-color: rgb(47, 205, 226);
    color: white;
}

.riga-azzurra{
    background-color: aquamarine;
}

#testo-footer{
    font-weight: bold;
    color: gray;
}